body{
    margin: 0;
    padding: 0;
    background:  #1F2937;
    display: flex;
    justify-content: center;
    font-family: 'Karla', sans-serif;
}

/* Heading Styles */
.heading-1, .heading-2{
    margin: 0px;
    font-size: 5ch;
}

.heading-1{
    color: white;
}

.heading-2{
    color: #10B981;
}

.subheading{
    color: #D5D4D8;
    font-weight: 10px;
    font-size: 3ch;
    margin-top: 8px;
}

/* Password Length Container */
.password-length-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

/* Password text style */
.password-length{
    color: #D5D4D8;
    font-size: 2.3ch;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/* Character limit box */
.value-box{
    width: 5%;
    height: 5%;
    color: white;
    margin-left: 5px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 6px;
    font-size: 2ch;
    background: #10B981;
    text-align: center;
    border: 2px solid #089969;
}

/* Main Wrapper */
.main-wrapper{
    padding: 40px 40px 200px 60px;
    width: 500px;
    height:400px;
    margin-top: 70px;
    margin-left:auto;
    margin-right: auto;
    border: 2px solid #10B981;
    border-radius: 6px;
}

/* Slider styles */
.slider-container{
    width: 35%;
}

#slider-range{
    -webkit-appearance: none; 
    appearance: none; 
    width: 100%; 
    height: 5px; 
    background:white;
    border-radius: 6px;
    border: none;
    padding: 0 5px;
}

#slider-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px; 
    height: 20px; 
    border: 2px solid #089969;;
    border-radius: 50%;
    background:#10B981;
}

#slider-range::-webkit-slider-thumb:active{
    background:#10B981;
    transform: scale(0.85);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    transition: 0.3s;
}

/* Button styles */
button{
    background-color: #10B981;
    text-shadow: 0px 0px .3px #1F2937;
    font-size: 1.6ch;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 15px 5px;
    margin-top: 30px;
    transition: 0.3s;
    width: 190px;
}

button:active {
    transform: scale(0.98);
    box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

/* Label styles */
label{
    color: #10B981;
}

/* Checkbox styles */
.checkbox-box{
    accent-color: #10B981;
}

.checkbox-container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

/* Divider styles */
.divider{
    background-color: #273549;
    margin: 35px 0 20px;
    width: 445px;
    height: 1px;
}

/* Password styles */
#password1, #password2{
    background-color: #273549 ;
    color:  #10B981;
    border-radius: 6px;
    width: 211px;
    height: 39px;
    text-align: center;
    line-height: 40px; 
}

#password2{
    margin-left: 20px;
}

/* Passwords wrapper */
.passwordsWrapper{
    display: flex;
    flex-direction: row;
}

/* Copy text Instructions */

.copy-instruction{
    color:#10B981;
    font-size: 1.8ch;
    margin-top: 1px;
}